# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#
# Contains definitions of all pipelines in the system. Pipelines are composed of a collection of jobs; see jobs.cfg for per-job details
#

# Format is expected to be as follows:
# pipeline:<name>
#   job1
#   job2
#   job3
#   ...
#   jobN
# pipeline_2:<name>
#   etc
#
# End of a pipeline is determined by either start of subsequent or EOF

# All jobs in the pre-commit pipeline must run within constraints and pass
# before a commit is merged upstream. Committers are expected to validate
# and sign off on this if using non-reference CI environments.
#
# Failure to do so will lead to commits being reverted.
pipeline:pre-commit
    unit
    jvm-dtest
    jvm-dtest-upgrade
    dtest
    dtest-large
    dtest-upgrade
    dtest-upgrade-large
    long-test
    cqlsh-test

# The post-commit pipeline is a larger set of tests that will be matrixed
# across other configuration axes we expect to fail or diverge rarely (JDK
# versions, vnode vs. novnode, etc). Failures in tests here will be made
# visible on JIRA tickets shortly after test run on reference CI and committers
# are expected to prioritize rectifying any failures introduced by their work.
pipeline:post-commit
    unit
    cdc
    compression
    test-oa
    test-system-keyspace-directory
    test-tries
    jvm-dtest
    jvm-dtest-upgrade
    dtest
    dtest-novnode
    dtest-offheap
    dtest-large
    dtest-large-novnode
    dtest-upgrade
    dtest-upgrade-large
    long-test
    cqlsh-test

# These are longer-term, much more rarely changing pieces of infrastructure or
# testing. We expect these to fail even more rarely than post-commit.
pipeline:nightly
    stress-test
    fqltool-test
    test-burn
